/*全局样式表*/
html,
body,
#app{
    height:100%;
    margin:0;
    padding:0
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif, arial, "Hiragino Sans GB", "宋体", sans-serif;
}
i,
s {
    font-style: normal;
    text-decoration: none;
}
fieldset,input,img,input,button,textarea{
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
}
